config {

    // Location of nf-test files
    testsDir = "tests"

    // Temporary nf-test work directory
    workDir = System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // Test-specific Nextflow config
    configFile = "tests/nextflow.config"

    // Default profile used by tests
    profile = "test"

    // Files that trigger test reruns in CI
    triggers = [
        'main.nf',
        'nextflow.config',
        'conf/*.config',
        'modules/**',
        'subworkflows/**',
        'workflows/**',
        'tests/**'
    ]
}
