params {
    samplesheet         = 'samplesheet.csv'
    run_qc              = false
    run_assembly        = false
    project_id          = "YOU_FORGOT_TO_SET_THIS"
    // Optional output directory
    //outdir              = "${baseDir}/results/"
    outdir              = "/mnt/genomics/common_projects/all_in_one_output/"
    scripts             = "${baseDir}/scripts/"
    // You can define params.longreads, hybrid, etc. as needed
    longreads           = false
    hybrid              = false
    shortreads          = false
    // QC STATS
    run_qc_stats        = false
    // Trimmer Options
    trim                = true
    fastp_opts          = "-q 20 -e 20 --cut_front --cut_tail -w 16 -l 50"
    // Agnostic Read Analysis
    agnostic_read_analysis = true
    // Remove Host From Reads
    map2reads           = false
    // BlastX
    run_blastx          = false
    // rRNA database
    remove_rRNA_reads=false
    host_db_silva="/export/database/bbmap/silva_release132_oral_flora_rRNA/silva_release132_oral_flora_rRNA.fa"
    bbmap_args="k=13 usemodulo=f rebuild=f interleaved=auto fastareadlen=500 unpigz=f touppercase=t "
    bbmap_ref_silva    = "/database/bbmap/silva_release132_oral_flora_rRNA/"
    // host database
    host_db             = "" 
    // assembly parameters
    metaspades_default_cpus = 254
    metaspades_default_mem  = '500 GB'
    subassembly         = false
    metaspades          = false
    metaSPAdes          = "spades.py --only-assembler --tmp-dir /database/tmp/ --meta" // assembler parameters
    unicycler           = false
    unicycler_mode	= "normal"
    spades              = false // currently implemented for exempliphi
    dragonflye          = false
    dragonflye_isolate  = false
    plasmidspades       = false
    // dragonflye parameters
    dragonflye_min_quality = 10
    use_gsize           = false
    model               = ""
    gsize               = ""
    threads             = 8
    memory              = 8
    medaka              = false
    medaka_model        = ""
    // for dorado aligner & polish
    dorado_software     = "/export/dorado"
    model               = "/export/dorado/models/dna_r10.4.1_e8.2_400bps_polish_bacterial_methylation_v5.0.0"
    bam_file            = ""
    dorado_polish       = false 
    //nanopore_assembly params
    nanopore_assembly   = false
    vs		= false
    // CHECKM
    run_checkm         = false
    checkm_data_dir    = "/export/database/checkm"
    checkm_time        = '36h'
    checkm_cpus        =  32
    checkm_mem         = '64GB'
    // autocycler params
    ac_enable_contig_filtering = true
    ac_min_contig_len    = 1000
    ac_max_contigs_per_assembly = 25
    skip_subsample       = true
    subsample_count      = 6
    min_read_depth       = 25
    run_autocycler         = false
    autocycler_assemblers  = 'flye,miniasm,necat,myloasm'
    autocycler_subsamples  = 4
    use_flye               = true
    use_miniasm            = false
    use_necat              = false
    use_myloasm            = true

    // hecatomb params
    hecatomb_config     = ""
    // diamond option
    diamond_args        = "--block-size 20 --iterate faster --index-chunks 1 --tmpdir /database/tmp" // memory args for diamond blastx
    diamond_dbdir       = "/database/blastdb/nr/nr" // diamond database directory
    // meganize options
    megandb             = "/database/megan"   // Megan Database
    meganpath           = "/export/bin/megan7/tools" // path to MEGAN tools
    // virusseeker paths
    ncbi_taxa		= "/database/taxonomy/taxa.sqlite"
    virus_genome_sizes  = "/export/nextflow/bdrd/all_in_one_pipeline/ICTV/viralFamily_genomeSize.txt"
    vhunter		= "/database/taxonomy/vhunter_acc.db"
    bad_accessions_list = "/export/nextflow/bdrd/all_in_one_pipeline/scripts/bad_nt_acc.txt"
    // mmseq options
    run_mmseqs              = false
    mmseq_tmp_dir           = "/database/tmp/" // mmseqs tmp dir
    mmseqs_nt_db            = "/database/mmseqs/core_nt/core_nt"
    //mmseqs_nt_db            = "/export/database/extracted_fasta/swissport/mmseqs/swiss_prot_mmseqs_db"
    mmseqs_search_opts      = '--max-accept 25 -s 7.0 -e 1.0E-8 --search-type 3 --split 0'
    mmseqs_createdb_opts    = '--createdb-mode 1' 
    mmseqs_format           = 'query,target,pident,alnlen,mismatch,gapopen,qstart,qend,tstart,tend,evalue,bits,theader,qlen,tlen'
    mmseqs_convertalis_opts = ""
    mmseqs_cpus             = 254 // mmseq search step
    mmseqs_mem              = 960 // mmseq search step
    // mmseq database 
    db_BN	 	    = "/database/mmseqs/core_nt/core_nt"
    // house-keeping params
    cleanup                 = null
    work_dir                = "${launchDir}/work"

    // split read workflow
    //split_threshold_gb_short = 10
    //split_threshold_gb_long  = 20 
    // conda
    //conda.enabled=true
}


process {
  scratch = "/database/tmp/"
  withName: 'Autocycler_Workflow:ClusterAssemblies' {
    shell = ['/bin/bash','-e','-o','pipefail']   // no '-u' here
  }
}


process {

withLabel: autocycler_mem {
    cpus = 254
    memory = '996 GB'
    cache = 'deep'
    clusterOptions = '--partition=normal --cpus-per-task=254 --mem=996G'
}


withLabel: optimized_split_interleaved {
    cpus = 4
    memory = '8 GB'
    time = '3h'
    cache = 'deep'
    clusterOptions = '--partition=normal --cpus-per-task=4 --mem=8G'
}



withLabel: lowmem {
    cpus = 64
    memory = '128 GB'
    //time = '3h'
    cache = 'deep'
    clusterOptions = '--partition=normal --cpus-per-task=64 --mem=128G'
}
withLabel: optimized_Meganize_ShortReads_BlastX {
    cpus = 8
    memory = '307 GB'
    clusterOptions = '--partition=normal --cpus-per-task=8 --mem=307G'
}

withLabel: optimized_Meganize_Contigs_BlastX {
    cpus = 32
    memory = '307 GB'
    clusterOptions = '--partition=normal --cpus-per-task=32 --mem=307G'
}

withLabel: optimized_blastx_reads {
    cpus = 63
    memory = '249 GB'
    clusterOptions = '--partition=normal --cpus-per-task=63 --mem=249G'
}

withLabel: optimized_blastx_contigs {
    cpus = 63
    memory = '249 GB'
    clusterOptions = '--partition=normal --cpus-per-task=63 --mem=249G'
}

withLabel: optimized_MMSEQ_contigs_against_NT_metaspades {
    cpus = 32
    memory = '64 GB'
    clusterOptions = '--partition=normal --cpus-per-task=32 --mem=64G'
   }

withLabel: optimized_MMSEQ_SEARCH {
    cpus = 254
    memory = '996 GB'
    clusterOptions = '--partition=normal --cpus-per-task=254 --mem=996G'
   }

withLabel: medaka_gpu {
    cpus = 32
    memory = '64 GB'
    clusterOptions = '--partition=normal --cpus-per-task=32 --mem=64G --gpus=2'
   }

withLabel: qc {
    cpus = 16
    memory = '32 GB'
    clusterOptions = '--partition=normal --cpus-per-task=16 --mem=32G'
   }
}



profiles {
   local {
       process.executor = 'local'
       process.memory   = '32 GB'
       process.cpus     =  6
   }
   slurm {
       process.executor  = 'slurm'
       process.queue     = 'normal'
       process.scratch   = '/database/tmp/'
   }  
   // conda
    conda {

    	conda.enabled        = true
    	conda.cacheDir       = "/export/nextflow_output/.conda"
    	conda.useMamba       = false
    	conda.mambaPath      = "/export/miniforge3/condabin/mamba"
    	conda.strictChannels = true 
    	process {
		withName: '.*MMSEQS.*' {
                    scratch = '/tmp'
                }
        }
    }
   
    docker {
    env.TMPDIR  = '/database/tmp/'
    docker.temp = '/database/tmp/'
    docker.enabled = true
    process {
      container = 'edge-docker.genomics.local/all_in_one_pipeline:latest'
    }
    conda.enabled = false
    
    docker.runOptions = '''
      -v /export/database:/export/database'
      -v /data:/data
      '''
    }

    apptainer {
        process.scratch = '/database/tmp/'
    	apptainer.enabled = true
    	docker.enabled = false
    	conda.enabled = false
    	apptainer.envWhitelist = 'TMPDIR,TMP,TEMP' 
        apptainer.runOptions = '--bind /export:/export --bind /database:/database --bind /tmp:/tmp' 
    	env.APPTAINER_BINDPATH = "/export:/export,/database:/database,/tmp:/tmp"
    	env.SINGULARITY_BINDPATH = "/export:/export,/database:/database,/tmp:/tmp"
    
    	process {
        	container = '/export/nextflow/bdrd/all_in_one_pipeline/singularity/all_in_one_pipeline_022726_alma9-ps-conda-fix.sif'
                
                withName: '.*MMSEQS.*' {
		    scratch = '/tmp'
                }
                withName: '.*MEGAN.*' {
		    scratch = '/tmp'
                }
                withName: 'BlastX_contigs' {
		    container = '/export/nextflow/bdrd/all_in_one_pipeline/Apptainer/all_in_one-diamond.sif'
                }
                withName: 'BlastX_reads' {
                    container = '/export/nextflow/bdrd/all_in_one_pipeline/Apptainer/all_in_one-diamond.sif'
                }
                withName: 'Remove_Common_Flora_rRNA_reads' {
                    container = '/export/nextflow/bdrd/all_in_one_pipeline/Apptainer/all_in_one-bbmap.sif'
                }
                withName: 'Generate_VS_Outputs' {
		    container = '/export/nextflow/bdrd/all_in_one_pipeline/Apptainer/all_in_one-vs.sif'
                }
    	}
    	conda.enabled = false
	}
    //apptainer {

      //  apptainer.enabled = true
      //  apptainer.autoMounts = true
      //  apptainer.cacheDir = '/export/nextflow/apptainer_cache'
      //  apptainer.runOptions = '--cleanenv --bind /export:/export,/database:/database'
      //  apptainer.envWhitelist = 'TMPDIR,TMP,TEMP'
      //  process {
      //          container = '/export/nextflow/bdrd/all_in_one_pipeline/singularity/all_in_one_pipeline_022726_alma9-ps-conda-fix.sif'
      //  }

        //apptainer.runOptions = "--bind /export:/export --bind /database:/database"
 //}
}

/* ============================ Setting TMPDIR ============================== */
env {
    TMPDIR = '/database/tmp/'
    TEMP   = '/database/tmp/'
    TMP    = '/database/tmp/'
}


/* ============================ House-Keeping ============================== */

// clean up tmp files after a successful run
cleanup = params.cleanup
// Work dir for intermediate files
workDir = params.work_dir 
/* ============================ Observability ============================== */
timeline {
  enabled   = true
  file      = "${params.outdir}/pipeline.timeline.html"
  overwrite = true
}
trace {
  enabled   = true
  file      = "${params.outdir}/pipeline.trace"
  overwrite = true
  append    = false
}
report {
  enabled   = true
  file      = "${params.outdir}/pipeline.report.html"
  overwrite = true
}
dag {
  enabled   = true
  file      = "${params.outdir}/pipeline.dag.svg"
  overwrite = true
}

