/*
 * ============================================================
 * CONDA ENVIRONMENT DEFINITIONS
 * ============================================================
 *
 * projectDir = root of the cloned All_In_One repository.
 */

params {
    conda_env_all_in_one     = "${projectDir}/env/environment.all_in_one_requirements.yml"

    conda_env_aio_qc         = "${projectDir}/env/environment.aio_qc.yml"
    conda_env_fastqc         = "${projectDir}/env/environment.fastqc.yml"
    conda_env_fastp_long     = "${projectDir}/env/environment.fastp_long.yml"
    conda_env_multiqc        = "${projectDir}/env/environment.multiqc.yml"
    conda_env_nanoplot       = "${projectDir}/env/environment.nanoplot.yml"
    conda_env_bbmap          = "${projectDir}/env/environment.bbmap.yml"

    conda_env_blast          = "${projectDir}/env/environment.blast.yml"
    conda_env_diamond        = "${projectDir}/env/environment.diamond.yml"
    conda_env_mmseqs2        = "${projectDir}/env/environment.mmseqs2.yml"

    conda_env_kraken2        = "${projectDir}/env/environment.kraken2.yml"
    conda_env_sourmash       = "${projectDir}/env/environment.sourmash.yml"
    conda_env_metaphlan4     = "${projectDir}/env/environment.metaphlan4.yml"
    conda_env_gottcha2       = "${projectDir}/env/environment.gottcha2.yml"
    conda_env_taxpasta       = "${projectDir}/env/environment.taxpasta.yml"
    conda_env_krona          = "${projectDir}/env/environment.krona.yml"

    conda_env_spades         = "${projectDir}/env/environment.spades.yml"
    conda_env_unicycler      = "${projectDir}/env/environment.unicycler.yml"
    conda_env_dragonflye     = "${projectDir}/env/environment.dragonflye.yml"
    conda_env_autocycler     = "${projectDir}/env/environment.autocycler.yml"
    conda_env_myloasm        = "${projectDir}/env/environment.myloasm.yml"

    conda_env_busco          = "${projectDir}/env/environment.busco.yml"
    conda_env_checkm_genome  = "${projectDir}/env/environment.checkm-genome.yml"
    conda_env_checkm2        = "${projectDir}/env/environment.checkm2.yml"
    conda_env_checkv         = "${projectDir}/env/environment.checkv.yml"
    conda_env_amrfinderplus  = "${projectDir}/env/environment.amrfinderplus.yml"
    conda_env_rgi            = "${projectDir}/env/environment.rgi.yml"
    conda_env_mlst           = "${projectDir}/env/environment.mlst.yml"
    conda_env_prokka         = "${projectDir}/env/environment.prokka.yml"
    conda_env_phispy         = "${projectDir}/env/environment.phispy.yml"
    conda_env_mobsuite       = "${projectDir}/env/environment.mobsuite.yml"
    conda_env_plasme         = "${projectDir}/env/environment.plasme.yml"

    conda_env_python_utils   = "${projectDir}/env/environment.python_utils.yml"
    conda_env_python_reports = "${projectDir}/env/environment.python_reports.yml"

    conda_env_md             = "${projectDir}/env/environment.md.yml"
    conda_env_vs             = "${projectDir}/env/environment.vs.yml"

    conda_env_ribodetector   = "${projectDir}/env/environment.ribodetector.yml"
}
