/*
 * ============================================================
 * ALL_IN_ONE CONTAINER DEFINITIONS
 * ============================================================
 *
 * Supported modes:
 *
 *   docker
 *       ghcr.io/bdrd-genomics/allinone-<tool>:<tag>
 *
 *   apptainer
 *       docker://ghcr.io/bdrd-genomics/allinone-<tool>:<tag>
 *
 *   offline
 *       <container_dir>/allinone-<tool>.sif
 *
 * Default online tag:
 *   latest
 *
 * Override:
 *   --container_tag 1.0.2
 *
 * Offline directory:
 *   --container_dir /path/to/sifs
 *
 * or:
 *   export AIO_CONTAINER_DIR=/path/to/sifs
 */

params.container_registry = params.container_registry ?: 'ghcr.io/bdrd-genomics'
params.container_tag      = params.container_tag      ?: 'latest'
params.container_mode     = params.container_mode     ?: 'apptainer'

params.container_dir =
    params.container_dir ?:
    System.getenv('AIO_CONTAINER_DIR') ?:
    "${projectDir}/containers/apptainer"


/*
 * Resolve the appropriate container based on execution profile.
 */
def resolveContainer = { image_name, sif_name ->

    if (params.container_mode == 'offline') {
        return "${params.container_dir}/${sif_name}"
    }

    if (params.container_mode == 'apptainer') {
        return "docker://${params.container_registry}/${image_name}:${params.container_tag}"
    }

    if (params.container_mode == 'docker') {
        return "${params.container_registry}/${image_name}:${params.container_tag}"
    }

    throw new IllegalArgumentException(
        "Unsupported container_mode: ${params.container_mode}"
    )
}


/*
 * ============================================================
 * GENERAL / QC
 * ============================================================
 */

params.default_container =
    resolveContainer(
        'allinone-conda-base',
        'allinone-conda-base.sif'
    )

params.aio_qc_container =
    resolveContainer(
        'allinone-aio_qc',
        'allinone-aio_qc.sif'
    )

params.bbmap_container =
    resolveContainer(
        'allinone-bbmap',
        'allinone-bbmap.sif'
    )

params.interleave_container =
    resolveContainer(
        'allinone-interleave',
        'allinone-interleave.sif'
    )

params.fastp_long_container =
    resolveContainer(
        'allinone-fastp_long',
        'allinone-fastp_long.sif'
    )

params.nanoplot_container =
    resolveContainer(
        'allinone-nanoplot',
        'allinone-nanoplot.sif'
    )


/*
 * ============================================================
 * SEARCH / TAXONOMY
 * ============================================================
 */

params.blast_container =
    resolveContainer(
        'allinone-blast',
        'allinone-blast.sif'
    )

params.diamond_container =
    resolveContainer(
        'allinone-diamond',
        'allinone-diamond.sif'
    )

params.kraken2_container =
    resolveContainer(
        'allinone-kraken2',
        'allinone-kraken2.sif'
    )

params.sourmash_container =
    resolveContainer(
        'allinone-sourmash',
        'allinone-sourmash.sif'
    )

params.metaphlan4_container =
    resolveContainer(
        'allinone-metaphlan4',
        'allinone-metaphlan4.sif'
    )

params.gottcha_container =
    resolveContainer(
        'allinone-gottcha2',
        'allinone-gottcha2.sif'
    )

params.taxpasta_container =
    resolveContainer(
        'allinone-taxpasta',
        'allinone-taxpasta.sif'
    )


/*
 * ============================================================
 * ASSEMBLY
 * ============================================================
 */

params.spades_container =
    resolveContainer(
        'allinone-spades',
        'allinone-spades.sif'
    )

params.unicycler_container =
    resolveContainer(
        'allinone-unicycler',
        'allinone-unicycler.sif'
    )

params.dragonflye_container =
    resolveContainer(
        'allinone-dragonflye',
        'allinone-dragonflye.sif'
    )

params.myloasm_container =
    resolveContainer(
        'allinone-myloasm',
        'allinone-myloasm.sif'
    )

params.autocycler_container =
    resolveContainer(
        'allinone-autocycler',
        'allinone-autocycler.sif'
    )


/*
 * ============================================================
 * GENOME / CONTIG CHARACTERIZATION
 * ============================================================
 */

params.busco_container =
    resolveContainer(
        'allinone-busco',
        'allinone-busco.sif'
    )

params.checkm_container =
    resolveContainer(
        'allinone-checkm-genome',
        'allinone-checkm-genome.sif'
    )

params.checkm2_container =
    resolveContainer(
        'allinone-checkm2',
        'allinone-checkm2.sif'
    )

params.checkv_container =
    resolveContainer(
        'allinone-checkv',
        'allinone-checkv.sif'
    )

params.amrfinder_container =
    resolveContainer(
        'allinone-amrfinder_plus',
        'allinone-amrfinder_plus.sif'
    )

params.rgi_container =
    resolveContainer(
        'allinone-rgi',
        'allinone-rgi.sif'
    )

params.mlst_container =
    resolveContainer(
        'allinone-mlst',
        'allinone-mlst.sif'
    )

params.prokka_container =
    resolveContainer(
        'allinone-prokka',
        'allinone-prokka.sif'
    )

params.phispy_container =
    resolveContainer(
        'allinone-phispy',
        'allinone-phispy.sif'
    )

params.mobsuite_container =
    resolveContainer(
        'allinone-mobsuite',
        'allinone-mobsuite.sif'
    )

params.plasme_container =
    resolveContainer(
        'allinone-plasme',
        'allinone-plasme.sif'
    )

params.chimeric_container =
    resolveContainer(
        'allinone-chimeric_contig_classifier',
        'allinone-chimeric_contig_classifier.sif'
    )


/*
 * ============================================================
 * SPECIALIZED WORKFLOWS
 * ============================================================
 */

params.ribodetector_container =
    resolveContainer(
        'allinone-ribodetector',
        'allinone-ribodetector.sif'
    )

params.virusseeker_container =
    resolveContainer(
        'allinone-vs',
        'allinone-vs.sif'
    )


/*
 * ============================================================
 * REPORTING
 * ============================================================
 */

params.krona_screenshot_container =
    resolveContainer(
        'allinone-krona',
        'allinone-krona.sif'
    )