/*
 * ============================================================
 * APPTAINER IMAGE DEFINITIONS
 * ============================================================
 *
 * container_dir is supplied by site.config.
 */

params {
    // General / QC
    default_container    = "${params.container_dir}/all_in_one_pipeline_022726_alma9-ps-conda-fix.sif"
    aio_qc_container     = "${params.container_dir}/all_in_one-aio_qc.sif"
    bbmap_container      = "${params.container_dir}/all_in_one-bbmap.sif"
    interleave_container = "${params.container_dir}/interleave.sif"

    // Long-read QC
    fastp_long_container = "${params.container_dir}/all_in_one-fastp-long.sif"
    nanoplot_container   = "${params.container_dir}/all_in_one-nanoplot.sif"

    // Search / taxonomy
    blast_container      = "${params.container_dir}/allinone-blast.sif"
    diamond_container    = "${params.container_dir}/all_in_one-diamond.sif"
    kraken2_container    = "${params.container_dir}/allinone-kraken2.sif"
    sourmash_container   = "${params.container_dir}/allinone-sourmash.sif"
    metaphlan4_container = "${params.container_dir}/allinone-metaphlan4.sif"
    gottcha_container    = "${params.container_dir}/allinone-gottcha2.sif"
    taxpasta_container   = "${params.container_dir}/allinone-taxpasta.sif"

    // Genome / contig characterization
    busco_container     = "${params.container_dir}/allinone-busco.sif"
    checkm_container    = "${params.container_dir}/checkm_genome.sif"
    checkm2_container   = "${params.container_dir}/allinone-checkm2.sif"
    checkv_container    = "${params.container_dir}/allinone-checkv.sif"
    amrfinder_container = "${params.container_dir}/allinone-amrfinderplus.sif"
    rgi_container       = "${params.container_dir}/allinone-rgi.sif"
    mlst_container      = "${params.container_dir}/allinone-mlst.sif"
    prokka_container    = "${params.container_dir}/allinone-prokka_debug2.sif"
    phispy_container    = "${params.container_dir}/all_in_one-phispy.sif"
    mobsuite_container  = "${params.container_dir}/mob_suite.sif"
    plasme_container    = "${params.container_dir}/allinone-plasme.sif"
    chimeric_container  = "${params.container_dir}/allinone-chimeric-contig-classifier.sif"

    // Specialized workflows
    ribodetector_container = "${params.container_dir}/ribodetector_0.3.3.sif"
    virusseeker_container  = "${params.container_dir}/all_in_one-vs.sif"
    vf_classifier_sif      = "${params.container_dir}/vf-classifier-1.2.0.sif"
    report_container       = "${params.container_dir}/exercise-report.sif"

    // Reporting
    krona_screenshot_container = "${params.container_dir}/all_in_one-kronatools-screenshot.sif"
}
