/*
 * ============================================================
 * ALL_IN_ONE CONTAINER DEFINITIONS
 * ============================================================
 *
 * Docker online:
 *   ghcr.io/bdrd-genomics/allinone-<tool>:<tag>
 *
 * Apptainer online:
 *   docker://ghcr.io/bdrd-genomics/allinone-<tool>:<tag>
 *
 * Apptainer offline:
 *   <container_dir>/allinone-<tool>.sif
 *
 * Default tag: latest
 * Override: --container_tag 1.0.2
 *
 * NOTE: no top-level helper closure is used here, which avoids
 * the Nextflow 26 strict-parser issue you hit earlier.
 */

params.container_registry = params.container_registry ?: 'ghcr.io/bdrd-genomics'
params.container_tag      = params.container_tag      ?: 'latest'
params.container_runtime  = params.container_runtime  ?: 'apptainer'
params.offline            = params.offline            ?: false

params.container_dir =
    params.container_dir ?:
    System.getenv('AIO_CONTAINER_DIR') ?:
    "${projectDir}/containers/apptainer"

/* IMAGE NAMES */
params.image_default = 'allinone-conda-base'
params.image_aio_qc = 'allinone-aio_qc'
params.image_bbmap = 'allinone-bbmap'
params.image_interleave = 'allinone-interleave'
params.image_fastp_long = 'allinone-fastp_long'
params.image_fastqc = 'allinone-fastqc'
params.image_multiqc = 'allinone-multiqc'
params.image_nanoplot = 'allinone-nanoplot'
params.image_blast = 'allinone-blast'
params.image_diamond = 'allinone-diamond'
params.image_mmseqs2 = 'allinone-mmseqs2'
params.image_spades = 'allinone-spades'
params.image_unicycler = 'allinone-unicycler'
params.image_dragonflye = 'allinone-dragonflye'
params.image_myloasm = 'allinone-myloasm'
params.image_autocycler = 'allinone-autocycler'
params.image_kraken2 = 'allinone-kraken2'
params.image_sourmash = 'allinone-sourmash'
params.image_metaphlan4 = 'allinone-metaphlan4'
params.image_gottcha = 'allinone-gottcha2'
params.image_taxpasta = 'allinone-taxpasta'
params.image_krona = 'allinone-krona'
params.image_busco = 'allinone-busco'
params.image_checkm = 'allinone-checkm-genome'
params.image_checkm2 = 'allinone-checkm2'
params.image_checkv = 'allinone-checkv'
params.image_amrfinder = 'allinone-amrfinder_plus'
params.image_rgi = 'allinone-rgi'
params.image_mlst = 'allinone-mlst'
params.image_prokka = 'allinone-prokka'
params.image_phispy = 'allinone-phispy'
params.image_mobsuite = 'allinone-mobsuite'
params.image_plasme = 'allinone-plasme'
params.image_ribodetector = 'allinone-ribodetector'
params.image_virusseeker = 'allinone-vs'
params.image_python_utils = 'allinone-python_utils'


/* RESOLVED CONTAINER REFERENCES */

params.default_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_default}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_default}:${params.container_tag}"
            : "${params.container_registry}/${params.image_default}:${params.container_tag}"

params.aio_qc_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_aio_qc}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_aio_qc}:${params.container_tag}"
            : "${params.container_registry}/${params.image_aio_qc}:${params.container_tag}"

params.bbmap_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_bbmap}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_bbmap}:${params.container_tag}"
            : "${params.container_registry}/${params.image_bbmap}:${params.container_tag}"

params.interleave_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_interleave}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_interleave}:${params.container_tag}"
            : "${params.container_registry}/${params.image_interleave}:${params.container_tag}"

params.fastp_long_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_fastp_long}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_fastp_long}:${params.container_tag}"
            : "${params.container_registry}/${params.image_fastp_long}:${params.container_tag}"

params.fastqc_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_fastqc}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_fastqc}:${params.container_tag}"
            : "${params.container_registry}/${params.image_fastqc}:${params.container_tag}"

params.multiqc_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_multiqc}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_multiqc}:${params.container_tag}"
            : "${params.container_registry}/${params.image_multiqc}:${params.container_tag}"

params.nanoplot_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_nanoplot}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_nanoplot}:${params.container_tag}"
            : "${params.container_registry}/${params.image_nanoplot}:${params.container_tag}"

params.blast_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_blast}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_blast}:${params.container_tag}"
            : "${params.container_registry}/${params.image_blast}:${params.container_tag}"

params.diamond_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_diamond}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_diamond}:${params.container_tag}"
            : "${params.container_registry}/${params.image_diamond}:${params.container_tag}"

params.mmseqs2_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_mmseqs2}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_mmseqs2}:${params.container_tag}"
            : "${params.container_registry}/${params.image_mmseqs2}:${params.container_tag}"

params.spades_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_spades}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_spades}:${params.container_tag}"
            : "${params.container_registry}/${params.image_spades}:${params.container_tag}"

params.unicycler_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_unicycler}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_unicycler}:${params.container_tag}"
            : "${params.container_registry}/${params.image_unicycler}:${params.container_tag}"

params.dragonflye_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_dragonflye}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_dragonflye}:${params.container_tag}"
            : "${params.container_registry}/${params.image_dragonflye}:${params.container_tag}"

params.myloasm_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_myloasm}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_myloasm}:${params.container_tag}"
            : "${params.container_registry}/${params.image_myloasm}:${params.container_tag}"

params.autocycler_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_autocycler}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_autocycler}:${params.container_tag}"
            : "${params.container_registry}/${params.image_autocycler}:${params.container_tag}"

params.kraken2_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_kraken2}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_kraken2}:${params.container_tag}"
            : "${params.container_registry}/${params.image_kraken2}:${params.container_tag}"

params.sourmash_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_sourmash}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_sourmash}:${params.container_tag}"
            : "${params.container_registry}/${params.image_sourmash}:${params.container_tag}"

params.metaphlan4_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_metaphlan4}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_metaphlan4}:${params.container_tag}"
            : "${params.container_registry}/${params.image_metaphlan4}:${params.container_tag}"

params.gottcha_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_gottcha}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_gottcha}:${params.container_tag}"
            : "${params.container_registry}/${params.image_gottcha}:${params.container_tag}"

params.taxpasta_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_taxpasta}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_taxpasta}:${params.container_tag}"
            : "${params.container_registry}/${params.image_taxpasta}:${params.container_tag}"

params.krona_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_krona}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_krona}:${params.container_tag}"
            : "${params.container_registry}/${params.image_krona}:${params.container_tag}"

params.busco_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_busco}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_busco}:${params.container_tag}"
            : "${params.container_registry}/${params.image_busco}:${params.container_tag}"

params.checkm_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_checkm}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_checkm}:${params.container_tag}"
            : "${params.container_registry}/${params.image_checkm}:${params.container_tag}"

params.checkm2_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_checkm2}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_checkm2}:${params.container_tag}"
            : "${params.container_registry}/${params.image_checkm2}:${params.container_tag}"

params.checkv_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_checkv}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_checkv}:${params.container_tag}"
            : "${params.container_registry}/${params.image_checkv}:${params.container_tag}"

params.amrfinder_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_amrfinder}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_amrfinder}:${params.container_tag}"
            : "${params.container_registry}/${params.image_amrfinder}:${params.container_tag}"

params.rgi_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_rgi}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_rgi}:${params.container_tag}"
            : "${params.container_registry}/${params.image_rgi}:${params.container_tag}"

params.mlst_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_mlst}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_mlst}:${params.container_tag}"
            : "${params.container_registry}/${params.image_mlst}:${params.container_tag}"

params.prokka_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_prokka}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_prokka}:${params.container_tag}"
            : "${params.container_registry}/${params.image_prokka}:${params.container_tag}"

params.phispy_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_phispy}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_phispy}:${params.container_tag}"
            : "${params.container_registry}/${params.image_phispy}:${params.container_tag}"

params.mobsuite_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_mobsuite}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_mobsuite}:${params.container_tag}"
            : "${params.container_registry}/${params.image_mobsuite}:${params.container_tag}"

params.plasme_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_plasme}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_plasme}:${params.container_tag}"
            : "${params.container_registry}/${params.image_plasme}:${params.container_tag}"

params.ribodetector_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_ribodetector}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_ribodetector}:${params.container_tag}"
            : "${params.container_registry}/${params.image_ribodetector}:${params.container_tag}"

params.virusseeker_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_virusseeker}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_virusseeker}:${params.container_tag}"
            : "${params.container_registry}/${params.image_virusseeker}:${params.container_tag}"

params.python_utils_container =
    params.offline && params.container_runtime == 'apptainer'
        ? "${params.container_dir}/${params.image_python_utils}.sif"
        : params.container_runtime == 'apptainer'
            ? "docker://${params.container_registry}/${params.image_python_utils}:${params.container_tag}"
            : "${params.container_registry}/${params.image_python_utils}:${params.container_tag}"

/*
 * ============================================================
 * PROCESS -> CONTAINER MAPPINGS
 * ============================================================
 *
 * Shared by Docker and Apptainer.
 */

process {
    container = params.default_container

    // QC / read processing
    withName: 'Quality_Control'                 { container = params.aio_qc_container }
    withName: 'PoreChop'                        { container = params.aio_qc_container }
    withName: 'Read_Distribution'               { container = params.aio_qc_container }
    withName: 'Map_Reads_2_RefSeq'              { container = params.aio_qc_container }
    withName: 'Split_Short_Reads'               { container = params.aio_qc_container }
    withName: 'Split_Long_Reads'                { container = params.aio_qc_container }
    withName: 'Subassembly'                     { container = params.aio_qc_container }
    withName: 'Interleave'                      { container = params.interleave_container }
    withName: 'Split_Interleave'                { container = params.bbmap_container }
    withName: 'Remove_Common_Flora_rRNA_reads'  { container = params.bbmap_container }
    withName: 'Fastp_LongReads'                 { container = params.fastp_long_container }

    withName: 'Pretrim_fastqc_merged'            { container = params.fastqc_container }
    withName: 'Pretrim_fastqc'                   { container = params.fastqc_container }
    withName: 'Post_trim_fastqc'                 { container = params.fastqc_container }
    withName: 'Post_host_remove_fastqc'          { container = params.fastqc_container }
    withName: 'Post_removal_rRNA_reads_fastqc'  { container = params.fastqc_container }

    withName: 'Multiqc_QC_Stats'                 { container = params.multiqc_container }
    withName: 'Multiqc_QC_host_removal'          { container = params.multiqc_container }
    withName: 'Multiqc_QC_rRNA_removal'          { container = params.multiqc_container }

    withName: 'Pretrim_NanoPlot'                 { container = params.nanoplot_container }
    withName: 'Posttrim_NanoPlot'                { container = params.nanoplot_container }
    withName: 'LongRead_NanoPlot_QC_Stats'       { container = params.nanoplot_container }

    // rRNA removal
    withName: 'RiboDetector_Remove_rRNA_reads' {
        maxForks = 1
    }

    withLabel: ribodetector {
        container = params.ribodetector_container

        containerOptions = {
            def mode = (params.ribodetector_mode ?: 'cpu').toString().toLowerCase()
            mode == 'gpu' ? '--nv' : ''
        }

        clusterOptions = {
            def mode = (params.ribodetector_mode ?: 'cpu').toString().toLowerCase()
            mode == 'gpu' ? '--gpus=1 --cpus-per-task=1' : ''
        }
    }

    // Assembly
    withName: 'Spades'                { container = params.spades_container }
    withName: 'MetaSPAdes_Assembly'   { container = params.spades_container }
    withName: 'Plasmid_Spades'        { container = params.spades_container }
    withName: 'Unicycler_Assembly'    { container = params.unicycler_container }
    withName: 'Dragonflye'            { container = params.dragonflye_container }
    withName: 'Dragonflye_Raven'      { container = params.dragonflye_container }
    withName: 'Dragonflye_Medaka'     { container = params.dragonflye_container }
    withName: 'Myloasm'               { container = params.myloasm_container }

    withName: '(?i).*autocycler.*|EstimateGenomeSize|SubsampleReads|AssembleFlye|AssembleMyloasm|AssembleMiniasm|CompressAssemblies|ClusterAssemblies|TrimClusters|ResolveClusters|CombineResolved' {
        container = params.autocycler_container
    }

    // Search
    withName: 'BlastX_contigs'            { container = params.diamond_container }
    withName: 'BlastX_reads'              { container = params.diamond_container }
    withName: 'DAA2INFO_contigs_daa_file' { container = params.diamond_container }

    withName: '.*MMSEQS.*' {
        container = params.mmseqs2_container
        scratch = '/tmp'
    }

    withName: '.*MEGAN.*' {
        scratch = '/tmp'
    }

    withName: 'BLASTN_NT_contigs'      { container = params.blast_container }
    withName: 'AMR_VF_BLAST'           { container = params.blast_container }
    withName: 'AMR_VF_BLAST_UNMAPPED'  { container = params.blast_container }

    // Taxonomy
    withLabel: kraken2    { container = params.kraken2_container }
    withName: 'MASH'      { container = params.kraken2_container }
    withLabel: sourmash   { container = params.sourmash_container }
    withLabel: metaphlan4 { container = params.metaphlan4_container }
    withLabel: gottcha    { container = params.gottcha_container }
    withLabel: taxpasta   { container = params.taxpasta_container }
    withLabel: krona      { container = params.krona_container }

    // Genome / contig characterization
    withName: 'BUSCO'             { container = params.busco_container }
    withName: 'CheckM_Assemblies' { container = params.checkm_container }
    withName: 'CheckM2_Assemblies'{ container = params.checkm2_container }
    withName: 'CheckV_Assemblies' { container = params.checkv_container }

    withName: '.*AMRFINDER.*' {
        container = params.amrfinder_container
        maxForks = 1
    }

    withName: '.*RGI.*' {
        container = params.rgi_container
        containerOptions = "--env RGI_DB_PATH=${params.database_dir}/card-data/"
    }

    withName: 'MLST'     { container = params.mlst_container }
    withName: 'PROKKA'   { container = params.prokka_container }
    withName: 'PHISPY'   { container = params.phispy_container }

    withName: 'MOBSUITE' {
        container = params.mobsuite_container
        containerOptions = "-B ${params.mobsuite_db_host}:/usr/local/lib/python3.11/site-packages/mob_suite/databases"
    }

    withName: 'PLASME' {
        container = params.plasme_container
    }

    // VirusSeeker
    withName: 'Generate_VS_Outputs' {
        container = params.virusseeker_container
    }

    // Generic Python parsers
    withName: 'Parse_.*' {
        container = params.python_utils_container
    }
}
