/*
 * ============================================================
 * EXECUTION + SOFTWARE BACKEND PROFILES
 * ============================================================
 */

profiles {
    local {
        process.executor = 'local'
        process.memory   = '32 GB'
        process.cpus     = 6
    }

    slurm {
        process.executor   = 'slurm'
        process.queue      = 'normal'
        executor.queueSize = 10000
        process.scratch    = params.tmp_dir
    }

    conda {
        conda.enabled       = true
        conda.useMamba      = true
        docker.enabled      = false
        apptainer.enabled   = false
        singularity.enabled = false

        params.container_runtime = 'conda'
        conda.cacheDir = params.conda_cache_dir

        process {
            conda = params.conda_env_all_in_one

            withName: 'Quality_Control'                 { conda = params.conda_env_aio_qc }
            withName: 'PoreChop'                        { conda = params.conda_env_fastp_long }
            withName: 'Pretrim_fastqc_merged'           { conda = params.conda_env_fastqc }
            withName: 'Pretrim_fastqc'                  { conda = params.conda_env_fastqc }
            withName: 'Post_trim_fastqc'                { conda = params.conda_env_fastqc }
            withName: 'Post_host_remove_fastqc'         { conda = params.conda_env_fastqc }
            withName: 'Post_removal_rRNA_reads_fastqc'  { conda = params.conda_env_fastqc }
            withName: 'Multiqc_QC_Stats'                { conda = params.conda_env_multiqc }
            withName: 'Multiqc_QC_host_removal'         { conda = params.conda_env_multiqc }
            withName: 'Multiqc_QC_rRNA_removal'         { conda = params.conda_env_multiqc }
            withName: 'Fastp_LongReads'                 { conda = params.conda_env_fastp_long }
            withName: 'Pretrim_NanoPlot'                { conda = params.conda_env_nanoplot }
            withName: 'Posttrim_NanoPlot'               { conda = params.conda_env_nanoplot }
            withName: 'LongRead_NanoPlot_QC_Stats'      { conda = params.conda_env_nanoplot }
            withName: 'Remove_Common_Flora_rRNA_reads'  { conda = params.conda_env_bbmap }
            withName: 'Split_Interleave'                { conda = params.conda_env_bbmap }

            withName: 'BlastX_contigs'                  { conda = params.conda_env_diamond }
            withName: 'BlastX_reads'                    { conda = params.conda_env_diamond }
            withName: 'DAA2INFO_contigs_daa_file'       { conda = params.conda_env_diamond }
            withName: 'BLASTN_NT_contigs'               { conda = params.conda_env_blast }
            withName: 'AMR_VF_BLAST'                    { conda = params.conda_env_blast }
            withName: 'AMR_VF_BLAST_UNMAPPED'           { conda = params.conda_env_blast }
            withName: 'RiboDetector_Remove_rRNA_reads'  { conda = params.conda_env_ribodetector}

            withName: '.*MMSEQS.*' {
                conda   = params.conda_env_mmseqs2
                scratch = '/tmp'
            }

            withName: '(?i).*spades.*'     { conda = params.conda_env_spades }
            withName: '(?i).*unicycler.*'  { conda = params.conda_env_unicycler }
            withName: '(?i).*dragonflye.*' { conda = params.conda_env_dragonflye }
            withName: 'Myloasm'            { conda = params.conda_env_myloasm }

            withName: '(?i).*autocycler.*|EstimateGenomeSize|SubsampleReads|AssembleFlye|AssembleMyloasm|AssembleMiniasm|CompressAssemblies|ClusterAssemblies|TrimClusters|ResolveClusters|CombineResolved' {
                conda = params.conda_env_autocycler
            }

            withLabel: kraken2             { conda = params.conda_env_kraken2 }
            withName: 'BRACKEN_ABUNDANCE' { conda = params.conda_env_kraken2 }
            withName: 'MASH'               { conda = params.conda_env_kraken2 }
            withLabel: sourmash            { conda = params.conda_env_sourmash }
            withLabel: metaphlan4          { conda = params.conda_env_metaphlan4 }
            withLabel: gottcha             { conda = params.conda_env_gottcha2 }
            withLabel: taxpasta            { conda = params.conda_env_taxpasta }
            withLabel: krona               { conda = params.conda_env_krona }

            withName: 'BUSCO'              { conda = params.conda_env_busco }
            withName: 'CheckM_Assemblies'  { conda = params.conda_env_checkm_genome }
            withName: 'CheckM2_Assemblies' { conda = params.conda_env_checkm2 }
            withName: 'CheckV_Assemblies'  { conda = params.conda_env_checkv }
            withName: 'MLST'               { conda = params.conda_env_mlst }
            withName: 'PROKKA'             { conda = params.conda_env_prokka }
            withName: 'PHISPY'             { conda = params.conda_env_phispy }
            withName: 'MOBSUITE'           { conda = params.conda_env_mobsuite }
            withName: 'PLASME'             { conda = params.conda_env_plasme }

            withName: '.*AMRFINDER.*' {
                conda    = params.conda_env_amrfinderplus
                maxForks = 1
            }

            withName: '.*RGI.*' {
                conda = params.conda_env_rgi
            }

            withName: 'Generate_VS_Outputs' { conda = params.conda_env_vs }
            withName: 'Parse_.*'            { conda = params.conda_env_python_utils }
        }
    }

    docker {
        conda.enabled       = false
        docker.enabled      = true
        apptainer.enabled   = false
        singularity.enabled = false
        params.container_runtime = 'docker'

        env.TMPDIR  = params.tmp_dir
        docker.temp = params.tmp_dir

        docker.runOptions = """
            -v ${params.database_dir}:${params.database_dir}
        """
    }

    apptainer {
        conda.enabled       = false
        docker.enabled      = false
        apptainer.enabled   = true
        singularity.enabled = false
        params.container_runtime = 'apptainer'

        process.scratch        = params.tmp_dir
        apptainer.autoMounts   = true
        apptainer.envWhitelist = 'TMPDIR,TMP,TEMP'
        apptainer.runOptions =
            "--cleanenv " +
            "--bind ${params.database_dir}:${params.database_dir}," +
            "${params.tmp_dir}:/tmp"
    }

    offline {
        params.offline = true
        params.container_dir =
            params.container_dir ?:
            System.getenv('AIO_CONTAINER_DIR') ?:
            "${projectDir}/containers/apptainer"
    }
}
