params {

    /*
     * ==============================
     * Full integration test
     * ==============================
     */
    database_dir = "${projectDir}/tests/databases"
    krona_db = "${projectDir}/tests/databases/krona/taxonomy"

    test = true

    run_id = "nf_test_full"

    outdir = "${launchDir}/test_results/full"


    /*
     * ==============================
     * Core analysis
     * ==============================
     */

    run_qc_stats = true

    agnostic_read_analysis = true

    map2reads = true
    host_db = "${projectDir}/tests/data/reference/test_host_reference.fasta"
    remove_rRNA_reads = true
    ribodetector_mode = 'cpu'
    rRNA_method       = 'ribodetector'

    /*
     * ==============================
     * Assembly
     * ==============================
     */

    run_assembly = true
    metaspades_default_cpus = 8
    metaspades_default_mem  = '16 GB'


    /*
     * ==============================
     * Sequence searches
     * ==============================
     */


    ncbi_taxa = "${projectDir}/tests/databases/taxonomy/taxa.sqlite"
    run_blastx = true
    blastx_reads_cpus     = 4
    blastx_reads_memory   = '8 GB'

    blastx_contigs_cpus   = 4
    blastx_contigs_memory = '8 GB'
    diamond_dbdir = "/data/github/MANUSCRIPT_ALL_IN_ONE/All_In_One/tests/databases/diamond/nr"
    diamond_args = '--block-size 0.1 --index-chunks 1 --tmpdir .'

    megan_shortreads_cpus   = 4
    megan_shortreads_memory = '8 GB'

    megan_contigs_cpus      = 4
    megan_contigs_memory    = '8 GB'

    megan_cpus              = 4
    megan_memory            = '8 GB'
    megan_mdb               = "${projectDir}/tests/databases/megan/megan-nr-r2.mdb"

    run_mmseqs              = true 
    mmseqs_nt_db            = "${projectDir}/tests/databases/mmseqs/nt"
    mmseqs_cpus             = 4
    mmseqs_memory           = '8 GB'
    /*
     * ==============================
     * Database-dependent analyses
     * ==============================
     */

    amr_vf = true

    amrfinder = true

    rgi = true

    mlst = true

    vs = true

    run_checkm = true

    run_checkm2 = true

    run_phispy = true

    run_mobsuite = true

    run_plasme = true
}


process {

    /*
     */

    withName: 'QC_Workflow:Quality_Control' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Interleave' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Pretrim_fastqc_merged' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Post_trim_fastqc' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Pretrim_NanoPlot' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Fastp_LongReads' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:PoreChop' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'Read_Distribution' {
        cpus = 2
        memory = '4 GB'
    }
}