params {

    /*
     * ==============================
     * Reviewer test settings
     * ==============================
     */

    test = true

    run_id = "nf_test"

    outdir = "${launchDir}/test_results"


    /*
     * Disable expensive analyses
     */

    run_qc_stats = false

    run_blastx = false

    agnostic_read_analysis = false

    map2reads = false

    remove_rRNA_reads = false


    // Assembly disabled initially
    // Enable later for assembly smoke tests
    run_assembly = false


    /*
     * Database dependent tools
     */

    amr_vf = false

    amrfinder = false

    rgi = false

    mlst = false

    vs = false

    run_checkm = false

    run_checkm2 = false

    run_phispy = false

    run_mobsuite = false

    run_plasme = false

}

process {

    withName: 'QC_Workflow:Quality_Control' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Interleave' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Pretrim_fastqc_merged' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Post_trim_fastqc' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Pretrim_NanoPlot' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:Fastp_LongReads' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QC_Workflow:PoreChop' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'Read_Distribution' {
        cpus = 2
        memory = '4 GB'
    }

}